/* styles.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 32px;
}

.tabs-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 20px;
  justify-content: center; /* Center the tabsContainer horizontally */
}

.tab-link {
  cursor: pointer;
  background-color: #ddd;
  padding: 10px;
  border-radius: 5px;
}

.tab-link.active {
  background-color: #999;
  color: #fff;
}

.tab-content {
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  max-width: 300px;
}

.tag {
  background-color: #999;
  color: #fff;
  padding: 2px 5px;
  margin-right: 5px;
  border-radius: 3px;
  cursor: pointer;

  /* Add padding to reduce the background size */
  padding: 3px 8px;
}

.tag:hover {
  background-color: #777;
}
