body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    text-align: center;
}

.tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.tab-link {
    padding: 10px 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    cursor: pointer;
    margin-right: 10px;
}

.tab-link.active {
    background-color: #ccc;
}

.tab {
    display: none;
}

.tab.active {
    display: block;
}

.tab-content {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.tab img {
    display: block;
    max-width: 100%;
    max-height: 200px;
    margin: 10px auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.tab h2 {
    margin-bottom: 10px;
}

.tab p {
    margin-bottom: 15px;
    line-height: 1.5;
}

.tab p:last-child {
    margin-bottom: 0;
}

.tab p.tags {
    font-weight: bold;
}
